
<head>

    <title>Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                TOURS CENTER <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <!-- SideBar User info -->
            <div class="full-box dashboard-sideBar-UserInfo">


                <ul class="full-box list-unstyled text-center">
                    <li>
                        <a href="#!">
                            <i class="zmdi zmdi-settings"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#!" class="btn-exit-system">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- SideBar Menu -->
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Lugares Turisticos<i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="/LugarTuristico/FormGuardar"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Crear</a>
                        </li>
                        <li>
                            <a href="/LugarTuristico/Index"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Lista</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Entradas<i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">

                        <li>
                            <a href="/VentaEntrada/Index"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Lista</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Promociones<i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="/Promocion/FormGuardar"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Crear</a>
                        </li>
                        <li>
                            <a href="/Promocion/Index"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Lista</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#!" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Guia Turistico<i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="/GuiaTuristico/FormGuardar"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Crear</a>
                        </li>
                        <li>
                            <a href="/GuiaTuristico/Index"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Lista</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <!-- Content page-->
    <section class="full-box dashboard-contentPage">
        <!-- NavBar -->
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
                <li>
                    <a href="#!" class="btn-Notifications-area">
                        <i class="zmdi zmdi-notifications-none"></i>
                        <span class="badge">7</span>
                    </a>
                </li>

                <li>
                    <a href="#!" class="btn-search">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
                <li>
                    <a href="#!" class="btn-modal-help">
                        <i class="zmdi zmdi-help-outline"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles">Lugares <small>Turisticos</small></h1>
            </div>

            <p>
                @Html.ActionLink(" Nueva Venta", "FormGuardar", null, new { @class = "btn btn-block btn-lg btn-success", id = "cuenta" })
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cantidad Niños</th>
                        <th>Cantidad Adulto</th>
                        <th>Fecha Visita</th>
                        <th>Usuario</th>
                        <th>Lugar</th>
                        <th>Precio Total</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var entrada in Model)
                    {
                        <tr>
                            <td>@entrada.Id</td>
                            <td>@entrada.CantidadEntraNino</td>
                            <td>@entrada.CantidadEntraAdulto</td>
                            <td>@entrada.FechaVisita</td>
                            <td>@entrada.PrecioTotal</td>
                            <td>
                                <a href="/VentaEntrada/FormEditar?id=@entrada.Id">Editar</a>
                                |
                                <a href="/VentaEntrada/Eliminar?id=@entrada.Id">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </section>


    <!--====== Scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/ripples.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/Scripts/main.js"></script>

    <script>
		$.material.init();
    </script>
</body>

