


                <form action="/LugarTuristico/Actualizar?IdLugarTuristico=@Model.IdLugarTuristico" method="post">
                    <div>
                        <label>Nombre</label>
                        <input name="Nombre" value="@Model.Nombre" />
                    </div>
                    <br />

                    <div>
                        <label>Precio Niño</label>
                        <input name="PrecioNino" value="@Model.PrecioNino" />
                    </div>
                    <br />

                    <div>
                        <label>Precio Adulto</label>
                        <input name="PrecioAdulto" value="@Model.PrecioAdulto" />
                    </div>
                    <br />

                    <div>
                        <label>Ubicación</label>
                        <input name="Ubicacion" value="@Model.Ubicacion" />
                    </div>
                    <br />

                    <div>
                        <label>Descripción</label>
                        <input name="Descripcion" value="@Model.Descripcion" />
                    </div>
                    <br />
                    <div>
                        <label>Imagen</label>
                        <input name="Imagen" value="@Model.Imagen" />
                    </div>
                    <br />

                    <button> Guardar</button>

                </form>
      